html,
.fullscreen {
  display: flex;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#table_section{
	min-height: 50vh;
}

.card-header{
	text-transform: capitalize;
}
.card-text{
	padding :0 20px;
	font-size:.8em !important;
}

#table_section table tbody{
	overflow-y: scroll;
	overflow-x: scroll;
}
.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; background-color: green}

.card-text:hover, #table_section tbody tr:hover{
	background-color: yellow !important;
	cursor: pointer;
}
#cards_section > .card > .card-body >.selected{
	background-color: #dfb;
	font-weight: bold;
}
#cards_section > .selected{
	background-color: #9c9;
}
